.col-xs-4.grid.mirrorbox.calendar
  %h3 Calendar
  - @calendar_events.take(5).each do |event|
    %h4
      •
      = event.start.date_time.to_s.split('T').first.split('-')[1]
      \/
      = event.start.date_time.to_s.split('T').first.split('-')[2]
      \-
      = event.summary
