.col-xs-4.grid-top.mirrorbox
  %h1.weather-icon
    %i.wi{class: "wi-owm-#{@weather_icon_code}"}
  %h4.location
    = @current_location
    \,
    FL
  %h3.weather
    = @current_condtion
    \/
    = @current_temp
    %i.wi.wi-fahrenheit
