%form
  .col-xs-4
    .form-group
      %label{:for => "exampleInputEmail1"} Box1
      %input#exampleInputEmail1.form-control{:placeholder => "Box1", :type => "text"}/
  .col-xs-4
    .form-group
      %label{:for => "exampleInputPassword1"} Box2
      %input#exampleInputPassword1.form-control{:placeholder => "Box2", :type => "text"}/
  .col-xs-4
    .form-group
      %label{:for => "exampleInputEmail1"} Box3
      %input#exampleInputEmail1.form-control{:placeholder => "Box3", :type => "text"}/
  .col-xs-4
    .form-group
      %label{:for => "exampleInputEmail1"} Box4
      %input#exampleInputEmail1.form-control{:placeholder => "Box4", :type => "text"}/
  .col-xs-4
    .form-group
      %label{:for => "exampleInputPassword1"} Box5
      %input#exampleInputPassword1.form-control{:placeholder => "Box5", :type => "text"}/
  .col-xs-4
    .form-group
      %label{:for => "exampleInputEmail1"} Box6
      %input#exampleInputEmail1.form-control{:placeholder => "Box6", :type => "text"}/
  .col-xs-4
    .form-group
      %label{:for => "exampleInputEmail1"} Box7
      %input#exampleInputEmail1.form-control{:placeholder => "Box7", :type => "text"}/
  .col-xs-4
    .form-group
      %label{:for => "exampleInputPassword1"} Box8
      %input#exampleInputPassword1.form-control{:placeholder => "Box8", :type => "text"}/
  .col-xs-4
    .form-group
      %label{:for => "exampleInputEmail1"} Box9
      %input#exampleInputEmail1.form-control{:placeholder => "Box9", :type => "text"}/
  .col-xs-4
    .form-group
      %label{:for => "exampleInputEmail1"} Box10
      %input#exampleInputEmail1.form-control{:placeholder => "Box10", :type => "text"}/
  .col-xs-4
    .form-group
      %label{:for => "exampleInputPassword1"} Box11
      %input#exampleInputPassword1.form-control{:placeholder => "Box11", :type => "text"}/
  .col-xs-4
    .form-group
      %label{:for => "exampleInputEmail1"} Box12
      %input#exampleInputEmail1.form-control{:placeholder => "Box12", :type => "text"}/
  .col-xs-4
    .form-group
      %label{:for => "exampleInputEmail1"} Box13
      %input#exampleInputEmail1.form-control{:placeholder => "Box13", :type => "text"}/
  .col-xs-4
    .form-group
      %label{:for => "exampleInputPassword1"} Box14
      %input#exampleInputPassword1.form-control{:placeholder => "Box14", :type => "text"}/
  .col-xs-4
    .form-group
      %label{:for => "exampleInputEmail1"} Box15
      %input#exampleInputEmail1.form-control{:placeholder => "Box15", :type => "text"}/
  %button.btn.btn-default{:type => "submit"} Submit


.input-group.box
  %input.form-control{:placeholder => "Zip Code", :type => "text"}/
  %span.input-group-btn
    %button.btn.btn-default{:type => "button"} Go!
